.flex{
    display: flex;
}

 .items-center {
    align-items: center;

 }
 .justify-center{
   justify-content: center;
 }

 .uppercase{
    text-transform: uppercase;
 }

 .semibold{
    font-weight: bolder;
 }

 .space-between{
    justify-content: space-between;
    
 }
 .mx-2{
    margin-left: 12px;
    margin-right: 12px;
 }
 header{
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

.flex-wrap{
    flex-wrap: wrap;
    width: 100vw;
}

